<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/shoelace-autoloader.js"></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <article>
        <div class="horizontal">
            <div class="vertical dashboard">
                <p>Hello <%=userData.User_name%>!!</p>
                <h1>Dashboard:</h1>
                <div class="slideshow">
                    <div class="round-button">
                        <div class="rbutton">

                        </div>
                        <div class="rbutton">

                        </div>
                        <div class="rbutton">

                        </div>
                    </div>
                    <div class="note-card">
                        <div class="note">

                        </div>
                        <div class="note">

                        </div>
                        <div class="note">

                        </div>
                        <div class="note">

                        </div>
                    </div>
                    
                </div>
                <h1 class="overview">Daily overview:</h1>
                <div class="chart">
                    <canvas id="myChart"><h1>hello</h1></canvas>
                  </div>
            </div>
            <div class="vertical">
                <div class="card food-history">
                    <h1>Food history</h1>
                    <p>recently added</p>
             <% foodData.forEach(e=>{ %>
                <div class="food-holder">
                    <h5><%=e.Food_Name%></h5>
                    <div class="horizontal">
                        <div class="desc calories">
                            <h5><%=e.Food_Calories%></h5>
                            <h6>Calories</h6>
                        </div>
                        <div class="desc protein">
                            <h5><%=e.Food_Protein%></h5>
                            <h6>Protein</h6>
                        </div>
                        <div class="desc fats">
                            <h5><%=e.Food_Fats%></h5>
                            <h6>Fats</h6>
                        </div>
                        <div class="desc fats">
                            <h5><%=e.Food_Carbs%></h5>
                            <h6>Carbs</h6>
                        </div>
                        
                    </div>
                    
                </div>
            <% }) %>      
                    
                    
                    
                    
                   
                </div>
            </div>
            
           
              
              
        </div>
        
      
          <h1 class="hid" id="items"><%=totalItems%></h1>
          <h1 class="hid" id="calories"><%=totalCalories%></h1>
          <h1 class="hid" id="target"><%=target%></h1>
          <h1 class="hid" id="remaining"><%=remaining%></h1>
    </article>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              
<script>
  const ctx = document.getElementById('myChart');
  let data = document.getElementById('calories').innerText;
  let data2 = document.getElementById('target').innerText;
  let data3 = document.getElementById('remaining').innerText;

  new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
    'Calories Consumed',
    'Calories Remaining',
  ],
      datasets: [{
        label: 'Calories',
        data: [data, data3],
        borderWidth: 1
      }],
      backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)'
    ],
    hoverOffset: 4
    },
    options: {
        legend: {
            labels: {
                position: 'bottom',
                fontColor: 'orange' // Change the label color to orange
            }
        }
    }
  });
</script>
<script>
    let chart = document.getElementById('chart');
   chart.value = 50;
</script>
</html>