<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
</head>
<body>
    <nav>

        <div class="search">
            <form action="/search" method="post">
                <img src="/images/search.svg" class="magnify">
                <input type="text" id="search" name="name">
                <input type="submit" class="button">
            </form>
            
        </div>
        
       <img src="/images/profile.svg" class="profile">
  
    </nav>
    <side-nav>
    
       <img src="/images/log.png" class="logo">
       <a href="/"><img src="/images/dashboard.svg" class="side-icons active-icon"></a>
       <a href="/"><img src="/images/news.svg" class="side-icons"></a>
       <a href="/"> <img src="/images/music-album.svg" class="side-icons"></a>
        <a href="/"> <img src="/images/star.svg" class="side-icons"></a>
    </side-nav>
    <article>
        <p>Hello Ronda!</p>
        <h1>Search result:</h1>
        <div class="card">
            <div class="holder">
                <img src="<%=data.image%>" class="main-image">
                <img src="<%=data.image%>" class="back-image">
            </div>
            <div class="vertical">
                <h1><%=data.label%></h1>
            <h2>Category: <%=data.category%></h2>
            <div class="horizontal">
                <div class="desc calories">
                    <h3><%=data.nutrients.ENERC_KCAL%></h3>
                    <h4>Calories</h4>
                </div>
                <div class="desc protein">
                    <h3><%=data.nutrients.PROCNT%></h3>
                    <h4>Protein</h4>
                </div>
                <div class="desc fats">
                    <h3><%=data.nutrients.FAT%></h3>
                    <h4>Fats</h4>
                </div>
               
                
        

            </div>
            
            </div>
            

        </div>
    </article>
</body>

</html>